header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header-felt {
  max-width: 62rem;
  flex: 1;
}

header .header-felt p{
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
}


header .header-right .header-image {
  position: relative;
  line-height: 0;
}


header .header-right .header-image .edwin-ayerbe{
  border-radius: 0.5rem;
  min-width: 25rem;
  max-width: 100%;
}

/* header .header-right .header-image .background {
  position: absolute;
  top: -4rem;
  right: -2.5rem;
  z-index: -1;
} */

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header-left p {
    margin: 2rem auto 4rem;
  }
}
